<h1>당신의 학점</h1>

<h2>
<%=@one%> = <%=@degree1%></br>
<%=@two%> = <%=@degree2%></br>
<%=@three%> = <%=@degree3%></br>
<%=@four%> = <%=@degree4%></br>
<%=@five%> = <%=@degree5%></br>
<%=@six%> = <%=@degree6%></br>
</h2>

